//Devices
$device-sm: 700px;
$device-md: 1200px;
$device-lg: 1440px;

//Colors
$white: #ffffff;
$black: #000000;
$red: #f44336;
$green: #4caf50;
$blue: #2196f3;
$yellow: #fbc02d;
$lighter-grey: #f5f5f5;
$light-grey: #eeeeee;
$normal-grey: #bdbdbd;
$cyan: #B2EBF2;
$indigo: #3f51b5;

//Font
$font-small: 14px;
$font-medium: 18px;
$font-big: 21px;